<div class="panel panel-info category-form">
  <div class="panel-heading">
    <button type="button" class="close" aria-hidden="true" {{action "cancel" content}}>&times;</button>
    <h3 class="panel-title">{{controller.pageTitle}} {{name}}</h3>
  </div>
  <div class="panel-body">
    {{#if validationErrors }}
      <div class="alert alert-danger">{{validationErrors}}</div>
    {{/if}}
    <div class='form-group'>
      <label for="form-category-name" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        {{view Ember.TextField valueBinding="name" id="form-category-name" placeholder='Name' class='form-control'}}
      </div>
    </div>
    <div class='form-group'>
      <label for="form-category-desscription" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        {{view Ember.TextArea valueBinding="description" id="form-category-desscription" placeholder='Description' class='form-control'}}
      </div>
    </div>
    <div class='form-group'>
      <label for="form-category-acronym" class="col-sm-3 control-label">Acronym</label>
      <div class="col-sm-9">
        {{view Ember.TextField valueBinding="acronym" id="form-category-acronym" placeholder='Acronym' class='form-control'}}
      </div>
    </div>
    <div class='form-group'>
      <label for="form-category-color" class="col-sm-3 control-label">Color</label>
      <div class="col-sm-9">
        {{view Ember.TextField valueBinding="color" id="form-category-color" placeholder='Color' type='color'}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    {{#if isNew }}
      <button class="btn btn-success" type="submit" {{action "create" content}}>Create</button>
    {{ else }}
      <button class="btn btn-success" type="submit" {{action "update" content}}>Update</button>
    {{/if}}
    or
    <a href="#" {{action "cancel" content}}>Cancel</a>
  </div>
</div>
