<li {{bind-attr class=":categories-category :list-group-item archived:archived"}} {{bind-attr data-id="id"}}>
  {{#if view.parentView.session.user.admin}}
    <span class="category-sortable-handle glyphicon glyphicon-sort"></span>
  {{/if}}
  {{view Ember.Checkbox checkedBinding="showMe"}}
  <span class="category-color" {{bind-attr style="colorStyle"}}></span>
  {{#link-to "category" this}}{{ name}}{{/link-to}}
  {{#if description}}
    <br />
    {{description}}
  {{/if}}
</li>
