.grid_4.prefix_4
  #login_form
    - @title ||= 'Sign in'
    - form_tag session_path, :class => 'with_blocks' do
      %fieldset.login
        %legend
          = @title
        = label_tag 'email'
        = text_field_tag 'email', @email
        = label_tag 'password'
        = password_field_tag 'password', nil
        = label_tag 'remember_me', "Remember me #{check_box_tag('remember_me', '1', @remember_me, :style => "display: inline")}"
        = link_to('forgot your password?', forgot_password_path, {:style => 'display: block; margin: 0 0 1em 0'})
        = submit_tag 'Sign in'