- @title ||= 'Your feeds'
%h2= @title
%h3 RSS feed
%p
  = link_to @rss_feed, @rss_feed, :id => 'rss_feed'
%h3 iCal/ICS feed
%p
  %a{:href => "webcal://#{SHORT_HOST}#{seminars_path(:format => 'ics', :categories => @categories.map{|c| c.id}.join(' '))}"}
    = "webcal://#{SHORT_HOST}#{seminars_path(:format => 'ics', :categories => @categories.map{|c| c.id}.join(' '))}"
%h3 XML feed
%p
  = link_to @xml_feed, @xml_feed
%h3 Integrate a calendar in your website
.container_12
  .grid_7
    %h4
      Resulting mini-calendar
    %object{:type => "text/html", :data => @iframe, :style => "width:500px;height:600px;"}
      %p Calendar not loading...
  .grid_5
    %h4
      Embed code
    %textarea{:style => 'height: 8em'}
      = "<object type='text/html' style='width: 500px; height: 600px;' data='#{@iframe}'><p>Your calendar cannot be loaded. See all the different seminars <a href='http://bioseminars.unige.ch'>here</a></p></object>"
    Link to calendar (for iFrame):
    = link_to(@iframe, @iframe)
.clear