- @title ||= 'Custom feeds'
.left_column
  %h2.title= @title
  %dl
    %dt RSS feed
    %dd{:style => 'overflow: auto'}
      = link_to @rss_feed, @rss_feed, :id => 'rss_feed'
    %dt Apple iCal feed
    %dd{:style => 'overflow: auto'}
      = link_to @ical_feed, @ical_feed
    %dt Other ICS clients feed (Mozilla Sunbird, Google Calendar, Lotus Note, Microsoft Entourage, etc...)
    %dd{:style => 'overflow: auto'}
      = link_to @ics_feed, @ics_feed
    %dt XML feed
    %dd{:style => 'overflow: auto'}
      = link_to @xml_feed, @xml_feed
    %dt iFrame link
    %dd
      = link_to(@iframe, @iframe)
  %h3 Integrate the calendar in your website
  %object{:type => "text/html", :data => @iframe, :style => "width: 100%; height: 500px;"}
    %p 
      = "Your calendar cannot be loaded. See all the different seminars #{link_to('here', 'http://bioseminars.unige.ch')}."
  %h4
    Embed code
  %textarea{:style => 'height: 6em; width: 100%', :rows => '4', :cols => '50'}
    = HTMLEntities.new.encode("<object type='text/html' style='width: 500px; height: 600px;' data='#{@iframe}'><p>Your calendar cannot be loaded. See all the different seminars <a href='http://bioseminars.unige.ch/seminars/calendar.iframe'>here</a></p></object>")
.right_column
  = render '/seminars/categories_menu'