- @title ||= "Hosts"
%div{:class => "#{'left_column' if can?(:manage, Host)}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_host_table
      = render @hosts
- if can?(:manage, Host)
  %aside
    - if @host.new_record?
      = render 'layouts/new_box', :object => @host
    - else
      = render 'layouts/edit_box', :object => @host