- @title ||= "Host “#{@host.name}”"
%div{:class => "#{'left_column' if user_signed_in?}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#categories
      = render @host
  - unless @seminars.blank?
    %h3 Seminars
    = will_paginate @seminars, :inner_window => 1, :outer_window => 1
    #seminars
      = render @seminars
- if user_signed_in?
  %aside
    = render 'layouts/new_box', :object => @new_host