%span#user_bar.status
  - if logged_in?
    Logged in as
    = "#{link_to_current_user :content_method => :nickname}"
    = " (#{link_to "Sign out", logout_path, { :title => "Sign out" }})"
  - else
    = "#{link_to "Sign in",  login_path,  {:title => "Sign in" }}"