.grid_4.prefix_4
  = error_messages_for :user
  - form_for :user, :html => {:class => 'with_blocks'} do |f|
    %fieldset.login
      %h2.legend
        Request a new password
      %p
        = "Enter your email address in the following field and click 'Send'. Soon, you will receive an email containing a password reset link. Open the link in your browser and follow the instructions."
      .group
        = f.label :email, 'Email'
        = f.text_field :email
      = submit_tag "Send", :disable_with => "Sending email&hellip;", :class => "confirm button", :style => 'margin: 0'