- @title ||= "Users"
%div{:class => "#{'left_column' if can?(:create, User)}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_user_table
      = render @users
- if can?(:create, User)
  %aside
    - if @new_user.new_record?
      = render 'layouts/new_box', :object => @new_user
    - else
      = render 'layouts/edit_box', :object => @new_user