- @title ||= "Users"
.left_column
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_user_table
      = render @users
%aside
  - if @new_user.new_record?
    = render 'layouts/new_box', :object => @new_user
  - else
    = render 'layouts/edit_box', :object => @new_user