.grid_4
  &nbsp;
.grid_4
  = error_messages_for :user
  - form_for :user, :html => {:class => 'with_blocks'} do |f|
    %fieldset
      %legend
        Reset your password
      %p
        = "Please, enter your new password once in each following fields."
      = f.hidden_field :reset_code
      = f.label :password, 'Password'
      = f.password_field  :password
      = f.label :password_confirmation, 'Confirmation'
      = f.password_field  :password_confirmation
      = submit_tag "Reset", :disable_with => "Resetting&hellip;", :class => 'confirm button', :style => 'margin: 0'