= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %h1 Forgot your password?
  = devise_error_messages!
  .label_and_input
    = f.label :email
    = f.text_field :email
  .label_and_input
    = f.submit "Send me reset password instructions"
    or
    = render :partial => "devise/shared/links"
