<div class="modal-dialog">
  <form class="form form-horizontal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" {{action "cancelModal" content}}>&times;</button>
        <h4 class="modal-title">{{pageTitle}}</h4>
      </div>
      <div class="modal-body">
        {{em-validation-errors validationErrors=validationErrors}}
        <div class='form-group'>
          <div class="col-sm-3 control-label">
            <label for="s2id_form-seminar-categories">Categories</label>
            {{#if session.isAuthenticated}}
              {{#if session.user.can_create_categories}}
                <span class="help-block">
                  {{#link-to "categories.new" }}Create a new category{{/link-to}}
                </span>
              {{/if}}
            {{/if}}
          </div>
          <div class="col-sm-9">
            {{select-2
              content=controllers.categories
              value=categories.content
              multiple=true
              description=false
              placeholder="Select some categories"
              id="form-seminar-categories"
            }}
          </div>
        </div>

        <div class='form-group'>
          <label for="form-seminar-title" class="col-sm-3 control-label">Title</label>
          <div class="col-sm-9">
            {{view Em.TextField id='form-seminar-title' valueBinding="title" placeholder='Title' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-speakerName" class="col-sm-3 control-label">Speaker name</label>
          <div class="col-sm-9">
            {{view Em.TextField id='form-seminar-speakerName' valueBinding="speakerName" placeholder='Speaker name' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-speakerAffiliation" class="col-sm-3 control-label">Speaker affiliation</label>
          <div class="col-sm-9">
            {{view Em.TextField id='form-seminar-speakerAffiliation' valueBinding="speakerAffiliation" placeholder='Speaker affiliation' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <div class="col-sm-3 control-label">
            <label for="form-seminar-hosts" >Hosts</label>
            {{#if session.isAuthenticated}}
              {{#if session.user.can_create_hosts}}
                <span class="help-block">
                  {{#link-to "hosts.new" }}Create a new host{{/link-to}}
                </span>
              {{/if}}
            {{/if}}
          </div>
          <div class="col-sm-9">
            {{select-2
              content=controllers.hosts
              value=hosts.content
              multiple=true
              description=false
              name=hosts_attributes
              placeholder="Select some hosts"
              id="form-seminar-hosts"
            }}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-locations" class="col-sm-3 control-label">Location (room)</label>
          <div class="col-sm-9">
            {{select-2
              content=controllers.locations
              value=location
              description=false
              placeholder="Select a location"
              id="form-seminar-locations"
            }}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-startAt" class="col-sm-3 control-label">Start date and time</label>
          <div class="col-sm-9">
            <div class="input-group">
              {{view App.DateTimeField valueBinding="startAt" placeholder='Start time' id='form-seminar-startAt' class='form-control' }}
              <span class="add-on input-group-addon"><i class="glyphicon glyphicon-th icon-th"></i></span>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-endAt" class="col-sm-3 control-label">End date and time</label>
          <div class="col-sm-9">
            <div class="input-group">
              {{view App.DateTimeField valueBinding="endAt" placeholder='End time' id='form-seminar-endAt' class='form-control'}}
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-description" class="col-sm-3 control-label">Description</label>
          <div class="col-sm-9">
            {{view Em.TextArea id='form-seminar-description' valueBinding="description" placeholder='Description' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-pubmed_ids" class="col-sm-3 control-label">Pubmed IDs</label>
          <div class="col-sm-9">
            <span class="help-block">If your want to display publication references together with this seminar, enter space-separated Pubmed IDs here.</span>
            {{view Em.TextArea id='form-seminar-pubmed_ids' valueBinding="pubmed_ids" placeholder='Pubmed IDs' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <div class="col-sm-9 col-sm-offset-2">
            {{#if publications}}
              <ul class="list-group">
                {{#each pub in publications }}
                  {{#if pub.title }}
                    <li class="list-group-item">
                      {{pub.title}} ({{pub.pubdate}})
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-seminar-url" class="col-sm-3 control-label">Url</label>
          <div class="col-sm-9">
            {{view Em.TextField id='form-seminar-url' valueBinding="url" placeholder='Url' class='form-control'}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
            <div class="checkbox">
              <label>
                {{view Em.Checkbox checkedBinding="internal" placeholder='Internal (private) seminar?'}} Internal?
              </label>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        {{#if isNew }}
          <button class="btn btn-success" type="submit" {{action "create" content}}>Create</button>
        {{ else }}
          <button class="btn btn-success" type="submit" {{action "update" content}}>Update</button>
        {{/if}}
        or
        <a href="#" {{action "cancelModal" content}}>Cancel</a>
      </div>
    </div>
  </form>
</div>
