<div class="panel panel-info seminar">
  <div class="panel-heading">
    <button type="button" class="close" aria-hidden="true" {{action "close"}}>&times;</button>
    <em>
      <span class="category-color" {{bind-attr style="colorStyle"}}></span>
      {{date_time_location_and_category}}
    </em>
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
    <div class='seminar-speakers'>
      <em>by</em>
      {{speakerName}} ({{speakerAffiliation}})
    </div>
    {{#if hosts}}
      <div class='seminar-hosts'>
        <em>Hosted by</em>
        {{#each host in hosts}}
          {{host.name}}
        {{/each}}
      </div>
    {{/if}}
    {{#if publications}}
      <h3>Associated publications</h3>
      {{#each pub in publications }}
        <div class='seminar-publication'>
          {{#if pub.fullDetails }}<em>{{pub.fullDetails}}</em>{{/if}}
          {{#if pub.title }}<h4>{{pub.title}}</h4>{{/if}}
          {{#if pub.authors }}<p><em>{{pub.authors}}</em><p>{{/if}}
          {{#if pub.abstract }}<p>{{pub.abstract}}</p>{{/if}}
        </div>
        <hr/>
      {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="panel-footer">
    <div class='seminar-adminlinks'>
      <a {{bind-attr href="icsUrl"}} title="Import seminar in iCal/ics" taget="_blank">Import in calendar <i class="glyphicon glyphicon-calendar"></i></a>
      {{#if updatable }}
        {{#link-to "seminars.edit" this class="btn btn-xs btn-primary"}}Edit{{/link-to}}
        {{#link-to "seminars.duplicate" this class="btn btn-xs btn-primary"}}Duplicate{{/link-to}}
      {{/if}}
      {{#if destroyable }}
        <a class="btn btn-xs btn-danger" href="#" {{action "destroy" this}}>Destroy</a>
      {{/if}}
    </div>
  </div>
</div>
