.label_and_input
  = f.label :name, "<span class='red_asterisk'>*</span> Name"
  = f.text_field :name
  = f.my_error_message_on :name
  
.label_and_input
  = f.label :description
  = f.text_area :description
  = f.my_error_message_on :description