- @title ||= "Edit building “#{@building.name}”"
.grid_4.prefix_4.suffix_4
  = error_messages_for :building
  - form_for :building, :url => building_path(@building), :html => { :method => :put, :class => 'with_blocks'} do |f|
    %fieldset
      %legend
        = @title
      = render :partial => 'form', :locals => {:f => f}
      = update_button