- @title ||= "Listing buildings"
#buildings{:class => "#{'left_column' if admin?}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_building_table
      = render @buildings
- if admin?
  %aside
    = render 'layouts/new_box', :object => @new_building