- @title ||= "Showing building “#{@building.name}”"
%div{:class => "#{'left_column' if admin?}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody
      = render @building
  - unless @seminars.blank?
    %h3 Seminars
    = will_paginate @seminars, :inner_window => 1, :outer_window => 1
    #seminars
      = render @seminars
- if admin?
  %aside
    - if @building.new_record?
      = render 'layouts/new_box', :object => @new_building
    - else
      = render 'layouts/edit_box', :object => @building