- @error = 'Error 404'
- @message = "The page you were looking for doesn't exist."
- @title = "#{@error}: #{@message}"
#errors
  %h2
    = @error
  %h3
    = @message
  %p
    You may have mistyped the address or the page may have moved.
  %p
    = link_to "Go back to the calendar", calendar_seminars_path