- @title ||= 'Sign in'
= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'with_blocks'} do |f|
  %h1= @title
  .group
    = f.label :email
    = f.text_field :email
  .group
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me, :class => 'for_check_box'
  %p= f.submit "Sign in"
  = render "devise/shared/links"