<div class="row" id="feeds">
  <div class="col-md-8 col-xs-12">
    <p>
      {{#link-to "feeds.documentation"}}Read the feed API{{/link-to}}
    </p>
    <h2>1. Configure your feed</h2>
    {{ partial 'feeds/form' }}
    <h2>2. Get your feed</h2>
    {{em-clipboard text=url}}
    <p>
      or follow this
      <a {{bind-attr href="url"}} target="_blank">feed url</a>
    </p>
  </div>
  <div class="col-md-4 col-xs-12">
    {{outlet}}
    {{view App.CalendarCategoriesView}}
  </div>
</div>
