- index = hosting.new_record? ? 'index_to_replace_with_js' : hosting.id
= fields_for "seminar[hostings_attributes][#{index}]", hosting do |fs|
  .label_and_input
    = fs.hidden_field(:id) unless hosting.new_record?
    = fs.collection_select :host_id, Host.all, :id, :name, :style => 'clear: left'
    =raw  my_link_to_remote(:host, "seminar_hostings_attributes_#{index}", nil, hosting.id) if can?(:create, :host)
    - if hosting.new_record?
      = link_to_function 'Remove', "$(this).parent('.label_and_input').remove()"
    - else
      = fs.check_box :_destroy
      = fs.label :_destroy, 'Remove', :class => 'for_check_box'
    = fs.my_error_message_on :host_id, :object => hosting