<div id="wrap">
  <div class="container">
    {{ partial 'navigation' }}
    {{bs-notifications}}
    {{#if App.loading }}
      <div class="data-loader">Loading data…</div>
    {{/if}}
    {{outlet}}
  </div>
  <div id='push-footer'></div>
</div>
<div id="footer">
  <div class="container">
    <div class="col-md-6 col-xs-12 footer-logo">
      <a href="http://unige.ch/sciences" target='_blank'>
        University of Geneva, Section of Biology
      </a>
    </div>
    <div class="col-md-6 col-xs-12 footer-identity">
      {{App.Session.year}}
      –
      <a href="http://github.com/yannis/bioseminars" target="_blank" class"fa-2x fa-github" title="Fork me on github!"><i class="fa fa-2x fa-github"></i></span></a>
      –
      {{#link-to 'feeds.documentation'}}feeds API{{/link-to}}
    </div>
  </div>
</div>
<div id="app-modal" class="modal fade">
  {{outlet modal}}
</div>
