%tr[category]{:class => cycle('', 'odd')}
  - if admin? and index?
    %td
      = image_tag 'drag_handle.gif', :id => "drag_handle_#{category.id}", :class => 'handle'
  %td
    - unless category.color.blank?
      %span.color{:style => "background-color: ##{category.color}"}
    = link_to_unless_current h(category.name), category_path(category)
  %td
    =h category.acronym
  %td
    = h(category.description)
  %td
    = category.seminars.size
  - if admin?
    %td
      - links = [link_to_remote('Edit', :url => edit_category_path(category), :method => :get, :html => {:href => edit_category_path(category)})]
      - links << destroy_remote_link(category) if category.no_more_seminars? and index?
      - links << destroy_link(category) if category.no_more_seminars? and !index?
      = links.join(' · ')