%p#mandatory_fields
  %span.red_asterisk *
  mandatory

.label_and_input
  = f.label :name, "<span class='red_asterisk'>*</span> Name"
  = f.text_field :name
  = f.my_error_message_on :name
  
.label_and_input
  = f.label :acronym
  = f.text_field :acronym
  = f.my_error_message_on :acronym
  
.label_and_input
  = f.label :color
  = f.text_field :color
  = f.my_error_message_on :color
  = javascript_tag "new Control.ColorPicker('category_color')"
  
.label_and_input
  = f.label :description
  = f.text_area :description
  = f.my_error_message_on :description