= f.label :name
= error_message_on "category", "name", :prepend_text => "Name ", :append_text => "!", :css_class => "input_error"
= f.text_field :name
= f.label :description
= error_message_on "category", "description", :prepend_text => "Description ", :append_text => "!", :css_class => "input_error"
= f.text_area :description