<%= flash_in_js %>
if ($('#<%= params[:controller] %>_div').length != 0) {remove_div_and_overlay('<%= params[:controller] %>_div')};
<%- if flash[:alert].blank? -%>
<%- html =  "<option></option>"+options_from_collection_for_select(Category.find(:all), :id, :name, @category.id)  -%>
$('#<%= @origin %>_category_id').html('<%= escape_javascript(html).html_safe %>');
$('#<%= @origin %>_category_id').parent('div').effect("highlight", {}, 3000);
<%- end -%>
<%- flash.discard -%>