- stylesheet '/colorpicker/colorPicker.css'
- javascript '/colorpicker/colorPicker.js'
- javascript '/colorpicker/scriptaculous/builder.js'
- javascript '/colorpicker/scriptaculous/slider.js'
- javascript '/colorpicker/yahoo.color.js'
- @title ||= "Categories"
%div{:class => "#{'left_column' if logged_in?}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_category_table
      = render @categories
  - if admin?
    = sortable_element("tbody_in_category_table", :url => sort_categories_path, :handles => '$$("#categories .handle")', :tag => 'tr', :constraint => 'vertical', :ghosting => 'true', :scroll => 'window', :scrollSensitivity => 30)
- if logged_in?
  .right_column
    .box#new_or_edit_form
      - if @category.new_record?
        = render :partial => 'layouts/new_box', :locals => {:object => @category}
      - else
        = render :partial => 'layouts/edit_box', :locals => {:object => @category}