- if admin?
  - stylesheet '/colorpicker/css/colorpicker.css'
  - javascript '/colorpicker/js/colorpicker.js', '/javascripts/jq/jquery.tablednd_0_5.js'
  - document_ready "$('table.list').tableDnD({ onDragClass: 'dragged', onDrop: function(table, row) { reorder('table.list', '#{reorder_categories_path}'); }});".html_safe
- @title ||= "Categories"
%div{:class => "#{'left_column' if can?(:create_or_update, Category)}"}
  %h2.title
    = @title
  %table.list
    %thead
      = render 'table_head'
    %tbody#tbody_in_category_table
      = render @categories
- if can?(:create_or_update, Category)
  %aside
    - if @category.new_record?
      = render 'layouts/new_box', :object => @category
    - else
      = render 'layouts/edit_box', :object => @category
