- document_ready %{show_hide_categories()}.html_safe
%section#categories.categories_hidden.group.box
  = image_tag('closebox.png', :id => 'ZoomClose', :size => '30x30')
  %h1 Categories
  = form_tag feeds_path do
    #all_categories.group
      - if @categories.size >= 8
        - cat_size = @categories.size
        - num_cat_per_list = cat_size/4.floor
        - ints = [(0..num_cat_per_list-1), (num_cat_per_list..2*num_cat_per_list), (1+2*num_cat_per_list..1+3*num_cat_per_list), (2+3*num_cat_per_list..@categories.size)]
        - for i in ints
          %ul{:class => "#{'hidden_categories' unless i == (0..num_cat_per_list-1)}", :id => "#{i == (0..num_cat_per_list-1) ? 'categories_to_show' : 'categories_to_not_show_'+i.first.to_s}"}
            - if i == (0..num_cat_per_list-1)
              %li
                = label_tag :internal do
                  %span.red_asterisk *
                  Internal - not public
                = check_box_tag :internal, 'internal', show_internal_seminars?, :class => 'categories_cb'
            - for category in @categories[i]
              %li
                %span.label
                  - unless category.color.blank?
                    %span.color{:style => "background-color: ##{category.color}"}
                  = link_to_unless_current h(category.acronym_or_name), category_path(category), :style => "color: ##{category.color}"
                = check_box_tag "categories[]", category.id, show_category?(category), :id => "categories_#{category.id}", :class => 'categories_cb'
      - else
        %ul#categories_to_show
          %li
            = label_tag :internal do
              %span.red_asterisk *
              Internal - not public
            = check_box_tag :internal, true, show_internal_seminars?
          - for category in @categories
            %li
              %span.label
                - unless category.color.blank?
                  %span.color{:style => "background-color: ##{category.color}"}
                = link_to_unless_current h(category.acronym_or_name), category_path(category), :style => "color: ##{category.color}"
              = check_box_tag "categories[]", category.id, show_category?(category), :id => "categories_#{category.id}"
    - links = []
    - links << link_to( 'Display all categories', categories_path, :id => 'show_all_categories') if @categories.size >= 8
    %p.admin_links
      =raw links.join(' · ')
    = submit_tag "Generate feeds"
