= f.label :title
= error_message_on "seminar", "title", :prepend_text => "Title ", :append_text => "!", :css_class => "input_error"
= f.text_field :title
%strong
  Speakers
- if @seminar.new_record?
  - f.fields_for :speakers do |fs|
    .inline_in_form
      = fs.label :name
      = fs.text_field :name
      = fs.label :affiliation
      = fs.text_field :affiliation
- else
  - for speaker in @seminar.speakers
    - fields_for "seminar[speakers_attributes][#{speaker.id}]", speaker do |fs|
      .inline_in_form
        = fs.hidden_field :id
        = fs.label :name
        = fs.text_field :name
        = fs.label :affiliation
        = fs.text_field :affiliation
        = fs.check_box '_delete'
        = fs.label '_delete', 'Remove'
%strong
  Hosts
- if @seminar.new_record?
  - f.fields_for :hosts do |fs|
    .inline_in_form
      = fs.label :name
      = fs.text_field :name
      = fs.label :affiliation
      = fs.text_field :affiliation
- else
  - for host in @seminar.hosts
    - fields_for "seminar[hosts_attributes][#{host.id}]", host do |fs|
      .inline_in_form
        = fs.hidden_field :id
        = fs.label :name
        = fs.text_field :name
        = fs.label :email
        = fs.text_field :email
        = fs.check_box '_delete'
        = fs.label '_delete', 'Remove'
= f.label :start_on
%span#seminar_start_on.inline_in_form
  = error_message_on "seminar", "start_on", :prepend_text => "Start ", :append_text => "!", :css_class => "input_error"
  = f.datetime_select :start_on
  = label_tag "seminar[all_day]", 'all-day'
  = check_box_tag "seminar[all_day]"
  = observe_field :seminar_all_day, :function => "all_day('seminar_start_on'); all_day('seminar_end_on');"
= f.label :end_on
%span#seminar_end_on.inline_in_form
  = error_message_on "seminar", "end_on", :prepend_text => "End ", :append_text => "!", :css_class => "input_error"
  = f.datetime_select :end_on
= f.label :location_id
%select{:name => 'seminar[location_id]', :id => 'seminar_location_id'}
  = option_groups_from_collection_for_select(@buildings, :locations, :name, :id, :name)
= f.label :category_id
= f.collection_select :category_id, @categories, :id, :name
= f.label :description
= error_message_on "seminar", "description", :prepend_text => "Description ", :append_text => "!", :css_class => "input_error"
= f.text_area :description