- if host.new_record?
  - fields_for "seminar[hosts_attributes][index_to_replace_with_js]" do |fs|
    .inline_in_form.group{:id => "host_index_to_replace_with_js"}
      .label_and_input
        .label
          Chose an existing host
        = select_tag "seminar[host_ids][]", "<option value=''>-</option>"+options_from_collection_for_select(Host.all, :id, :name), :style => 'clear: left'
        = fs.my_error_message_on :id, :object =>  host
      .label_and_input.or_create
        or create one:
      .label_and_input
        = fs.label :name, "<span class='red_asterisk'>*</span> Name", :object => host
        = fs.text_field :name, :class => 'host_name'
        = fs.my_error_message_on :name, :object =>  host
      .label_and_input
        = fs.label :email, "<span class='red_asterisk'>*</span> Email"
        = fs.text_field :email, :class => 'host_email', :onchange => "get_name_from_email(this, '#{fs.object_name.gsub('][', '_').gsub('[', '_').gsub(']', '')}_name')", :onfocus => "get_name_from_email(this, '#{fs.object_name.gsub('][', '_').gsub('[', '_').gsub(']', '')}_name')"
        = fs.my_error_message_on :email, :object =>  host
      .label_and_input.remove_link
        = link_to_function 'Remove', "$('host_index_to_replace_with_js').remove()"
- else
  - fields_for "seminar[hosts_attributes][#{host.id}]", host do |fs|
    .inline_in_form.group
      .label_and_input
        = select_tag "seminar[host_ids][]", "<option value=''>- remove -</option>"+options_from_collection_for_select(Host.find(:all), :id, :name, host.id)
        = fs.my_error_message_on :id, :object =>  host