%li[seminar]{:class => "seminar_#{seminar.id} #{seminar.internal? ? 'internal' : 'public'} category_#{seminar.category.id} #{seminar.all_day? ? 'all_day' : ''} #{((seminar.internal? and show_internal_seminars? and (show_category?(seminar.category))) or (!seminar.internal? and show_category?(seminar.category))) ? '' : 'hidden_seminar'} ", :style => "#{seminar.all_day? ? 'color: white; background-color: #'+seminar.color : 'color: #'+seminar.color}"}
  = link_to(seminar.time_and_category, seminar_path(seminar), {:class => "seminar_#{seminar.id}_link seminar_link", :onclick => 'return false', :title => seminar.mini_seminar_title})
  %div.mini_seminar{:id => "mini_seminar_#{seminar.id}", :style => 'display: none'}
    = render 'mini_seminar', :seminar => seminar