%tr[seminar]{:class => cycle('odd', '')}
  %td
    = link_to_unless_current h(seminar.title), seminar_path(seminar)
  %td
    = seminar.speakers.map(&:name).join(', ')
  %td
    = seminar.speakers.map(&:affiliation).join(', ')
  %td
    = seminar.hosts.map(&:name).join(', ')
  %td
    = h(seminar.location.name_and_building) if seminar.location
  %td
    = h(seminar.category.name) if seminar.category
  %td
    = seminar.schedule
  %td
    - links = [link_to('Save in iCal', seminar_path(seminar, :format => 'ics'))]
    - links << edit_link(seminar) if logged_in? and admin?
    = links.join(' · ')