%tr[seminar]{:class => cycle('odd', '')}
  %td
    = link_to_unless_current h(seminar.title), seminar_path(seminar)
  %td
    = seminar.speakers.map(&:name).join(', ')
  %td
    = seminar.speakers.map(&:affiliation).join(', ')
  %td
    = seminar.hosts.map(&:name).join(', ')
  %td
    = h(seminar.location)
  %td
    = seminar.schedule
  - if admin?
    %td
      - links = [edit_link(seminar)]
      = links.join(' · ')