%tr[seminar]{:class => cycle('', 'odd')}
  %td
    = link_to_unless_current h(seminar.title), seminar_path(seminar)
  %td
    = seminar.speakers.map(&:name).join(', ')
  %td
    = seminar.speakers.map(&:affiliation).join(', ')
  %td
    = seminar.hosts.map(&:name).join(', ')
  %td
    = h(seminar.location.name_and_building) if seminar.location
  %td
    = seminar.schedule
  %td
    = h(seminar.category.name) if seminar.category
  %td
    = link_to('website', seminar.url) unless seminar.url.blank?
  %td
    - links = [link_to('Save in iCal', seminar_path(seminar, :format => 'ics'))]
    - if logged_in? and seminar.editable_or_destroyable_by_user?(current_user)
      - links << edit_link(seminar)
      - links << destroy_link(seminar)
    = links.join(' · ')