- if speaker.new_record?
  - fields_for "seminar[speakers_attributes][index_to_replace_with_js]" do |fs|
    .inline_in_form.group{:id => "speaker_index_to_replace_with_js"}
      .label_and_input
        %div{:style => 'display: none'}
          = fs.my_error_message_on :name, :object => speaker
        = fs.label :name, "<span class='red_asterisk'>*</span> Name"
        = fs.text_field :name, :class => 'speaker_name'
        = fs.my_error_message_on :name, :object => speaker
      .label_and_input
        = fs.label :affiliation, 'Affiliation'
        = fs.text_field :affiliation, :class => 'speaker_affiliation'
        = fs.my_error_message_on :affiliation, :object => speaker
      .label_and_input.seminar_title
        = fs.label :title, "<span class='red_asterisk'>*</span> Seminar title"
        = fs.text_field :title, :class => 'speaker_title'
        = fs.my_error_message_on :title, :object => speaker
      .label_and_input.remove_link
        = link_to_function 'Remove', "$('speaker_index_to_replace_with_js').remove()"
- else
  - fields_for "seminar[speakers_attributes][#{speaker.id}]", speaker do |fs|
    .inline_in_form.group{:id => "speaker_#{speaker.id}"}
      = fs.hidden_field :id
      .label_and_input
        = fs.label :name, "<span class='red_asterisk'>*</span> Name", :object => speaker
        = fs.text_field :name, :class => 'speaker_name'
        = fs.my_error_message_on :name, :object => speaker
      .label_and_input
        = fs.label :affiliation, 'Affiliation'
        = fs.text_field :affiliation, :class => 'speaker_affiliation'
      .label_and_input.seminar_title
        = fs.label :title, "<span class='red_asterisk'>*</span> Seminar title"
        = fs.text_field :title, :class => 'speaker_title'
        = fs.my_error_message_on :title, :object => speaker
      .label_and_input.remove_link
        = fs.label '_destroy', 'Remove'
        = fs.check_box '_destroy'
