- @title ||= "Edit seminar “#{@seminar.title}”"
.grid_8.prefix_2.suffix_2
  = error_messages_for :seminar
  - form_for :seminar, :url => seminar_path(@seminar), :html => { :method => :put, :class => 'with_blocks'} do |f|
    %fieldset
      %legend
        = @title
      = render :partial => 'form', :locals => {:f => f}
      = update_button