- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoom.js'
- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoomHTML.js'
- functions_to_load = ["setupZoom()"]
- for seminar in @seminars.select{|s| !s.pubmed_ids.blank?}
  - functions_to_load << remote_function(:url => load_publications_seminar_path(seminar))
- onload functions_to_load.join(';')
- @title ||= "Listing seminars"
#seminar_list.grid_9.alpha
  = will_paginate @seminars
  = render @seminars
  .clear
.grid_3.omega
  %p.link_to_calendar
    = link_to 'Show calendar', calendar_seminars_path
  %fieldset
    %legend Categories
    = render 'categories_menu'
    = link_to 'Create feeds for this selection', feeds_path, :method => 'post'
.clear