- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoom.js'
- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoomHTML.js'
- functions_to_load = ["setupZoom()"]
- for seminar in @seminars.select{|s| !s.pubmed_ids.blank?}
  - functions_to_load << remote_function(:url => load_publications_seminar_path(seminar))
- onload functions_to_load.join(';')
- @title ||= "Seminars"
.left_column
  .scope_and_pagination
    - form_tag(seminars_path, :method => :get, :id => 'scope') do
      show
      = select_tag :scope, options_for_select(['future', 'past', 'all'], params[:scope]), :id => 'scope_selector'
      seminars
      = observe_form 'scope', :function => "window.location.href='#{seminars_path}?'+value+'#{params.blank? ? '' : ('&'+params.map{|key,value| (key+'='+value) if (key != 'controller' and key != 'action' and key != 'scope')}.compact.join('&'))}'", :method => :get
    = will_paginate @seminars, :inner_window => 1, :outer_window => 1
  = render @seminars
.right_column
  = render 'categories_menu'
  = render 'next_seminar_box'