%p
  = @seminar.when_and_where
%h3
  = link_to_unless_current h(@seminar.title), seminar_path(@seminar)
%p
  = @seminar.speakers.map(&:name).join(', ')
  = "(#{@seminar.speakers.map(&:affiliation).join(', ')})"
- unless @seminar.hosts.empty?
  %p
    Hosted by
    = @seminar.hosts.map(&:name).join(', ')
- unless @seminar.user.blank?
  %p{:style => 'font-size: smaller; text-align: right'}
    Edited by
    = @seminar.user.name
   
