%p
  by
  = @seminar.speakers.map{|s| "<strong>#{h(s.name)}</strong> (#{h(s.affiliation)})"}.join(', ')
- if @seminar.internal?
  %p.alert_internal
    This seminar is not public
%p
  = @seminar.when_and_where
- unless @seminar.hosts.empty?
  %p
    Hosted by
    = @seminar.hosts.map{|s| mail_to(s.email, s.name, :encode => 'hex')}.join(', ')
%p
  - links = [link_to('Save in iCal', seminar_path(@seminar, :format => 'ics'))]
  - links << link_to('Show', seminar_path(@seminar))
  - if logged_in? and @seminar.editable_or_destroyable_by_user?(current_user)
    - links << edit_link(@seminar)
    - links << destroy_link(@seminar)
  = links.join(' · ')
- unless @seminar.user.blank?
  %p{:style => 'margin: 0 .1em; padding: 0; font-size: smaller; text-align: right'}
    Created by
    = @seminar.user.name