<div class="calendar-seminar-tooltip">
  <div class="calendar-seminar-tooltip-title">
    <em>
      <span class="category-color" {{bind-attr style="colorStyle"}}></span>
      {{date_time_location_and_category}}
    </em>
    <h4>{{title}}</h4>
  </div>
  <div class="calendar-seminar-tooltip-content">
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
    <div class='seminar-speakers'>
      <em>by</em>
      <strong>{{speakerName}} ({{speakerAffiliation}})</strong>
    </div>
    {{#if hosts}}
      <div class='seminar-hosts'>
        <em>Hosted by</em>
        {{#each host in hosts}}
          <strong>{{host.name}}</strong>
        {{/each}}
      </div>
    {{/if}}
    <div class='seminar-adminlinks'>
      {{#link-to "seminar" this class="btn btn-xs btn-primary"}}Details{{/link-to}}
      <a {{bind-attr href="icsUrl"}} title="Import seminar in iCal/ics" taget="_blank">Import in calendar <i class="glyphicon glyphicon-calendar"></i></a>
      {{#if updatable }}
        {{#link-to "seminars.edit" this class="btn btn-xs btn-primary"}}Edit{{/link-to}}
        {{#link-to "seminars.duplicate" this class="btn btn-xs btn-primary"}}Duplicate{{/link-to}}
      {{/if}}
      {{#if destroyable }}
        <a class="btn btn-xs btn-danger" href="#" {{action "destroy" this}}>Destroy</a>
      {{/if}}
    </div>
  </div>
</div>
