<div class="panel panel-default calendar-categories">
  <div class="panel-heading">
    <h3>Seminar series</h3>
  </div>
  {{!-- limitedCategories: {{limitedCategories.length}} --}}
  <table class='table' id='categories'>
    <tbody>
      <tr>
        <td colspan='3'>
          <a class="btn btn-default btn-xs" href="#" {{action "toggleShowMe"}}>Toggle all series visibility</a>
        </td>
      </tr>
      {{#each category in limitedCategories}}
        {{view App.CalendarCategoryView}}
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <a class="btn btn-default btn-xs" href="#" {{action "toggleShowAllCategories" }}>
      Show
      {{#if showAll }}
        fewer
      {{else}}
        all
      {{/if}}
      categories
    </a>
  </div>
</div>
