<div class="panel panel-default calendar-categories">
  <div class="panel-heading">
    <h3>
      Seminar series <a class="btn btn-default btn-xs" href="#" {{action "toggleShowMe"}}>Toggle all series visibility</a>
    </h3>
  </div>
  <table class='table' id='categories'>
    <tbody>
      <tr>
        <td>
          {{view Em.Checkbox checked=App.Internal.show id="internal_seminars_selection"}}
        </td>
        <td  colspan=2>
          <label for="internal_seminars_selection">Internal seminars</label>
        </td>
      </tr>
      {{#each category in limitedCategories}}
        {{view App.CalendarCategoryView}}
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <a class="btn btn-default btn-xs" href="#" {{action "toggleShowAllCategories" }}>
      Show
      {{#if showAll }}
        fewer
      {{else}}
        all
      {{/if}}
      categories
    </a>
  </div>
</div>
