<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" {{action "cancelModal" content}}>&times;</button>
      <h3 class="modal-title">{{controller.pageTitle}}</h3>
    </div>
    <form class="form form-horizontal">
      <div class="modal-body">
        {{em-validation-errors validationErrors=validationErrors}}
        <div class='form-group'>
          <label for="form-user-name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            {{view Ember.TextField id='form-user-name' valueBinding="name" placeholder='Name' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-user-email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            {{view Ember.TextField valueBinding="email" placeholder='Email' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-user-password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            {{view Ember.TextField id='form-user-password' type="password" valueBinding="password" placeholder='Password' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <label for="form-user-password-confirmation" class="col-sm-2 control-label">Password confirmation</label>
          <div class="col-sm-10">
            {{view Ember.TextField id='form-user-password-confirmation' type="password" valueBinding="password_confirmation" placeholder='Password confirmation' class='form-control'}}
          </div>
        </div>
        {{#if session.user.admin}}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  {{view Em.Checkbox valueBinding="admin" checkedBinding="admin" placeholder='Admin?'}} Admin?
                </label>
              </div>
            </div>
          </div>
        {{/if}}
        <div class="modal-footer">
          {{#if isNew }}
            <button class="btn btn-success" type="submit" {{action "create" content}}>Create</button>
          {{ else }}
            <button class="btn btn-success" type="submit" {{action "update" content}}>Update</button>
          {{/if}}
          or
          <a href="#" {{action "cancelModal" content}}>Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

