<div class="col-md-4 col-md-offset-4">
  <h1>{{pageTitle}}</h1>
  <form class="form-horizontal user-form" role="form" {{action "update_password" on="submit"}}>
    {{em-validation-errors validationErrors=validationErrors}}
    <div class="form-group">
      {{view Ember.TextField type="password" valueBinding='password' name='password' placeholder='Password' class="form-control"}}
    </div>
    <div class="form-group">
      {{view Ember.TextField type="password" valueBinding='password_confirmation' name='password_confirmation' placeholder='Password confirmation' class="form-control"}}
    </div>
    <button type=submit class="btn btn-large btn-primary">Update your password</button>
    or
    <a href='#' {{action "cancel"}}>Cancel</a>
  </form>
</div>
