%ul#nav.dropdown.hr
  - for nav in ["seminars", "locations", "categories", "users"] 
    - controllers_and_actions.each do |key,value|
      - if nav == value[:main_menu][:text]
        %li.dir{:class => "#{value[:highlight_in_controller] and value[:highlight_in_controller].include?(request.path_parameters[:controller]) ? 'selected' : ''}"}
          - if value[:main_menu][:remote] == true
            = link_to_remote value[:main_menu][:text], :url => value[:main_menu][:path], :html => {:href => value[:main_menu][:path]}
          - else
            = link_to value[:main_menu][:text], value[:main_menu][:path], {:id => "link_to_#{value[:main_menu][:text]}", :accesskey => (value[:main_menu][:accesskey] ? value[:main_menu][:accesskey] : '')}
          - unless value[:sub_menus].blank?
            %ul.submenu
              - for sub_menu in value[:sub_menus]
                %li
                  - if sub_menu[:remote] == true
                    = link_to_remote sub_menu[:text], :url => sub_menu[:path], :html => {:href => sub_menu[:path]}
                  - else
                    = link_to sub_menu[:text], sub_menu[:path], {:id => "link_to_#{value[:main_menu][:text]}_#{sub_menu[:text]}"}
                  - unless sub_menu[:sub_menus].blank?
                    %ul.submenu
                      - for sub_menu2 in sub_menu[:sub_menus]
                        %li
                          - if sub_menu2[:remote] == true
                            = link_to_remote sub_menu2[:text], :url => sub_menu2[:path], :html => {:href => sub_menu2[:path]}
                          - else
                            = link_to sub_menu2[:text], sub_menu2[:path], {:id => "link_to_#{value[:main_menu][:text]}_#{sub_menu[:text]}_#{sub_menu2[:text]}"}