!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = @title || "bioSeminars"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name=>"author", :content=>"Yannis Jaquet"}/
    %meta{:name => "robots", :content => "noindex,nofollow"}
    = javascript_include_tag  :defaults
    = javascript_include_tag '/growler1.0.0/src/growler.js'
    = stylesheet_link_tag 'reset.css', :media => "screen, projection"
    = stylesheet_link_tag '960.css', :media => "screen, projection"
    = stylesheet_link_tag 'text.css', :media => "screen, projection"
    = stylesheet_link_tag 'navigation.css', :media => "screen, projection"
    = stylesheet_link_tag '/growler1.0.0/css/examples.css', :media => "screen, projection"
    /[if IE]
    /  = stylesheet_link_tag 'emastic/ie-min.css', :media => 'screen, projection'
    / = stylesheet_link_tag 'screen', :media => "screen, projection"
    / = stylesheet_link_tag 'print', :media => "print"
    / = stylesheet_link_tag 'my_styles2', :media => "screen, projection"
    = stylesheet_link_tag 'application', :media => "screen, projection"
    = auto_discovery_link_tag :rss, seminars_path(:format => 'rss')
    = yield :head
  %body{:onload => "#{yield(:onload)}"}
    .container_12#main
      #banner.one.grid_4
        %h1
          = link_to 'bioSeminars', root_path
          = link_to image_tag('rssIconS.png'), seminars_path(:format => 'rss')
          = link_to image_tag('ical_icon.png'), "webcal://#{HOST}#{seminars_path(:format => 'ics')}"
      #navigation.grid_8
        = render 'layouts/navigation'
      .clear
      #content.grid_12
        = render 'layouts/javascript_disabled_notification'
        - unless flash[:notice].blank?
          #flash_notice
            .flash.success
              = " "+flash[:notice]
        - unless flash[:warning].blank?
          #flash_warning
            .flash.error
              = " "+flash[:warning]
        = yield :layout
      #footer.grid_12
        .box
          %p
            © University of Geneva 2009
            –
            = link_to 'log', '/log.txt'
            = '('+File.mtime(RAILS_ROOT+'/public/log.txt').to_s(:short)+')'
          %p
            Create
            = link_to 'custom feeds', new_feed_path
