!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = @title || "bioSeminars"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name=>"author", :content=>"Yannis Jaquet, Gregory Theiler"}/
    %meta{:name => "robots", :content => "all"}
    = javascript_include_tag "http://use.typekit.com/und6gvf.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = javascript_include_tag  :defaults
    = javascript_include_tag '/growler1.0.0/src/growler.js'
    = stylesheet_link_tag 'reset.css', :media => "screen, projection"
    = stylesheet_link_tag '960.css', :media => "screen, projection"
    = stylesheet_link_tag 'text.css', :media => "screen, projection"
    = stylesheet_link_tag 'navigation.css', :media => "screen, projection"
    = stylesheet_link_tag '/growler1.0.0/css/examples.css', :media => "screen, projection"
    /[if IE]
    /  = stylesheet_link_tag 'emastic/ie-min.css', :media => 'screen, projection'
    / = stylesheet_link_tag 'screen', :media => "screen, projection"
    / = stylesheet_link_tag 'print', :media => "print"
    / = stylesheet_link_tag 'my_styles2', :media => "screen, projection"
    = stylesheet_link_tag 'application.css', :media => "screen, projection"
    = auto_discovery_link_tag :rss, seminars_path(:format => 'rss'), :title => "RSS feed for all seminars"
    - for category in Category.find(:all)
      = auto_discovery_link_tag :rss, seminars_path(:format => 'rss', :categories => category.id), :title => "“#{category.name}” seminars"
    = yield :head
  %body{:onload => "#{yield(:onload)}"}
    .container_12#main
      #banner.one.grid_4
        %h1
          = link_to 'bioSeminars', root_path, :class => 'banner_font'
      #navigation.grid_8
        = render 'layouts/navigation'
      .clear
      #content.grid_12
        = render 'layouts/javascript_disabled_notification'
        - unless flash[:notice].blank?
          #flash_notice
            .flash.notice
              = " "+flash[:notice]
        - unless flash[:warning].blank?
          #flash_warning
            .flash.warning
              = " "+flash[:warning]
        = yield :layout
      #footer.grid_12
        .container_12
          .grid_3.one
            = link_to(image_tag('fac_sciences_pant.png', :id => 'logo_fac'), 'http://www.unige.ch/sciences')
          #footer_box.grid_9
            %ul
              %li
                &copy;
                = link_to 'University of Geneva', 'http://www.unige.ch'
                2009
              %li
                = link_to 'RSS', seminars_path(:format => 'rss'), :id => 'rss_feed_link'
              %li
                = link_to 'iCal/ICS', "webcal://#{HOST}#{seminars_path(:format => 'ics')}", :id => 'ical_feed_link'
              %li
                Create
                = link_to 'custom feeds', new_feed_path
            %ul
              %li
                = link_to 'log', '/log.txt'
                = '('+File.mtime(RAILS_ROOT+'/public/log.txt').to_s(:short)+')'
              %li
                contact the
                = mail_to "yannis.jaquet@unige.ch, gregory.theiler@unige.ch", 'webmasters', :encode => :hex
          .clear
